# Secure Download - Postfix transport map
# /etc/postfix/transport
#
# 全受信メールをPythonハンドラーに渡す
# postmap /etc/postfix/transport を実行後にPostfixをリロードすること

*   sd-handler:

# master.cf に以下を追加:
#
# sd-handler unix - n n - 10 pipe
#   flags=DRXhu user=app-user
#   argv=/opt/secure-download/venv/bin/python
#   /opt/secure-download/mail_handler/postfix_handler.py
